:root {
    --h2-color: #27005D;
    --background-color: linear-gradient(135deg, #9400FF, #AED2FF);
    --row-background: #edeef0;
    --button-color: #9400FF;
    --light-blue: #E4F1FF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    accent-color: var(--button-color);
}

.container {
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: var(--h2-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    background: var(--light-blue);
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--button-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background: var(--h2-color);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(img/icons8-unchecked-checkbox-50.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 12px;
    transition: 1s;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/icons8-checkbox-24.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}